@use '../abstracts';

section.like-storage{
    cursor: all-scroll;
    z-index: 250;
    max-width: 376px;
    width: 376px;
    height: 80px;
    border-radius: 5px;
    position: fixed;
    background-color: abstracts.$color-secondary;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media screen and (max-width: 500px){
        width: 300px;
    }
    h2.like-total-count{
        i{
            margin-left: 15px;
        }
    }
}