$font-DMSans: 'DM Sans', sans-serif;
$color-primary: #901C1C;
$color-secondary: #D3573C;
$color-tertiary: #757575;
$color-quaternary : #525252;

$color-background: #E5E5E5;
$color-background2: #FAFAFA;

$color-black: #000;



